@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html {
  font-size: x-large;
}

button {
  padding: 1rem;
  font-family: 'PT Serif', serif;
  font-size:x-large;
  border: none;
  background-color: rgb(201, 242, 242);
  border-radius: 10px;
}

#content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
}

#type-of-climbing {
  margin: auto;
  background-color: cornflowerblue;
  border-radius: 8px;
  display: flex;
  justify-content: space-evenly;
}

#type-of-climbing label {
  float:inline-start;
  width: 20px;
  border: 1px solid rebeccapurple;    
}

#type-of-climbing label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

#type-of-climbing label input {
  position: absolute;
  top: -20px;
}

#type-of-climbing input:checked + span {
  background-color: rebeccapurple;
  color:rgb(201, 242, 242);
}

/* <div id="type-of-climbing">
<label for="trad">
  <input id="climb-trad" type="checkbox">
  <span>Trad</span>
</label>
<label for="bouldering">
  <input id="climb-boulder" type="checkbox">
  <span>Bouldering</span>
</label>
<label for="sport">
  <input id="climb-sport" type="checkbox">
  <span>Sport Climbing</span>
</label>
</div> */

 