<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/climb_type.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script src="/firebaseAPI.js"></script>
  <script src="/scripts/backButton.js"></script>

  <title>CragIt</title>
</head>
<body>

  <button id="backButton" onclick="backOnePage()">back</button>

  <div id="climb-types">
    <h2>What type of climbing?</h2>
    <label for="trad">
      <input id="trad" type="checkbox" onclick="postTrad()">
      <span>Trad</span>
    </label>
    <label for="bouldering">
      <input id="bouldering" type="checkbox" onclick="postBouldering()">
      <span>Bouldering</span>
    </label>
    <label for="sport">
      <input id="sport" type="checkbox" onclick="postSport()">
      <span>Sport Climbing</span>
    </label>
    <input id="submit-here" type="submit" value="next" onclick="postClimbing()">
  </div>

  <script src="/scripts/climb_type.js"></script>

</body>
</html>