<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/login.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>Sign Up</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
  <script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-firestore.js"></script>
  <script src="/firebaseAPI.js"></script>
  <script src="/scripts/signUp.js"></script>

</head>
<body>

  <div id="login-container">
    <h2>Welcome to CragIt!</h2>
    <div id="login-form">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Enter email">
      <label for="password">Password</label>
      <p>
        <input type="text" id="password" name="password" placeholder="Enter password">
        <i id="togglePassword" class="material-icons">visibility_off</i>
      </p>
      <button id="signUp" onclick="createAccount()">Create Account</button>
      <p>Aready have an account? <a href="/views/login.html">Log In</a></p>
    </div>
  </div>
  
</body>
</html>