@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

:root {
  --darkBlue: #344E41;
  --darkGreen: #3A5A40;
  --green: #588157;
  --lightGreen: #A3B18A;
  --slate: #DAD7CD;
}

#backButton {
  margin-left: 8px;
  margin-top: 8px;
}

html {
  font-size: x-large;
  font-family: 'PT Serif', serif;
}

body {
  background-image: url("/images/rock_jut.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

h2 {
  margin-top: 0;
  /* margin-bottom: 20px; */
  font-weight:bolder;
  background-color: white;
  padding: 7px;
  border-radius: 8px;
  opacity: 0.7;
}

#climb-types label {
  width: 180px;
  height: 72px;
  border: 2px solid var(--darkBlue);    
  background-color: var(--slate);
  border-radius: 8px;
  margin: auto;
  margin-top:0px;
  margin-bottom: 0px;
}

#climb-types label span {
  padding: 20px 0;
  display: block;
}

#climb-types label input {
  position: absolute;
  top: -20px;
}

label:hover, input:hover {
  cursor: pointer;
}

#climb-types input:checked + span {
  background-color: var(--darkBlue);
  color: white;
}

#climb-types input:hover + span {
  transform: scale(1.06, 1.06);
  border-radius: 8px;
}

/* #climb-types span:hover {
  transform: scale(1.02, 1.02);
} */

#submit-here {
  padding: 20px 65px;
  border: none;
  background-color: var(--green);
  color: white;
  border-radius: 8px;
  /* color: black; */
  font-size: x-large;
  font-family: 'PT Serif', serif;
}

#submit-here:hover {
  transform: scale(1.06, 1.06);
  /* cursor: pointer; */
}

#climb-types {
  margin: 0 30%;
  margin-top: 15%;
  margin-bottom: 20px;
  /* margin: 100px; */
  /* background-color: var(--slate); */
  /* background-color: white; */
  border-radius: 8px;
  display: grid;
  grid-template-rows: (5, 1fr);
  row-gap: 30px;
  justify-items: center;
  text-align: center;
  /* height: 70vh; */
  /* width: 50vw; */
  padding-bottom: 30px;
  /* height: 100vh; */
  /* opacity: 0.75; */
}

@media screen and (max-width: 1000px) {

  #climb-types {
    margin: 0 10%;
    margin-top: 30%;
    margin-bottom: 20px;
  }

}

 