:root {
  --darkBlue: #344E41;
  --darkGreen: #3A5A40;
  --green: #588157;
  --lightGreen: #A3B18A;
  --slate: #DAD7CD;
}

html, body {
  overflow: hidden;
}

body {
  background-image: url("/images/rock_jut.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

html {
  font-family: sans-serif;
  font-weight: 350;
}

#login-form {
  text-align: center;
  display: grid;
  grid-template-rows: (6, 1fr);
}

label {
  margin-bottom: 0.5rem;
  font-size: large;
}

input {
  border-radius: 8px;
  border: none;
  margin-bottom: 1rem;
  padding: 0.5rem;
  font-size: large
}

button {
  padding: 0.6rem;
  font-size: large;
  border: none;
  background-color: var(--green);
  border-radius: 8px;
  color: white;
}

input, button {
  width: 200px;
  text-align: center;
  justify-self: center;
}

button:hover {
  background-color: var(--darkGreen);
  color: white;
}

p {
  color: var(--lightGreen);
}

a {
  color: var(--green);
  text-decoration: none;  
}

#login-container {
  margin: 10%;
  margin-top: 15%;
  background-color: var(--slate);
  padding: 10px 40px;
  text-align: center;
}

i {
  margin-left: -30px;
  /* margin-top: 10px; */
  cursor: pointer;
}

#errorMessage {
  color: red;
  margin-top: -5px;
  margin-bottom: -5px;
}

@media screen and (max-width: 1000px) {

  #login-container {
    margin: 10%;
    margin-top: 50%;
    padding: 10px 40px;
    text-align: center;
  }
  
}




