:root {
  --darkBlue: #344E41;
  --darkGreen: #3A5A40;
  --green: #588157;
  --lightGreen: #A3B18A;
  --slate: #DAD7CD;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

html {
  /* font-family: sans-serif; */
  /* font-weight: 450; */
  font-size: large;
  font-family: 'PT Serif', serif;
}

html, body {
  overflow: hidden;
}

body {
  background-image: url("/images/rock_jut.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

h4 {
  text-align: center;
  background-color: white;
  opacity: 0.7;
  border-radius: 8px;
  padding: 8px;
}

#climbing-discipline {
  margin: 30px 60px;
}

#regionHeader {
  margin: 0 60px;  
  margin-bottom: 15px;
}

#container {
  display: grid;
  margin-top: 20px;
  row-gap: 30px;
}

#climb-types input + label {
  width: 100px;
  white-space: nowrap;
  /* height: 52px; */
  border: 2px solid var(--darkBlue);   
  background-color: var(--slate); 
  border-radius: 8px;
  padding: 15px 5px;
  text-align: center;
}

#climb-types label input {
  position: absolute;
  top: -20px;
}

#climb-types input {
  position: absolute;
  top: -20px;
}

label:hover, input:hover {
  cursor: pointer;
}

#climb-types input:checked + label {
  background-color: var(--darkBlue);
  color:white;
}

#climb-types {
  text-align: center;
  font-weight: 500;
}

li {
  list-style-type: none;
  text-align: center;
  padding: 25px;
  border-radius: 8px;
  margin: 0 40px;
  margin-bottom: 20px;
}

li:hover {
  transform: scale(1.05, 1.05);
}

.squam-areas {
  background-color:rgb(157, 157, 245);
}

#squamish, #vancouver, #whistler {
  background-color: var(--darkGreen);
  color: white;
  font-weight: 500;
}

.bouldering, .trad, .sport {
  background-color: var(--green);
  color: white;
}

#lighthousepark, #whytecliffpark, #electricave, #thecourtyard, 
#theplayground, #sugarloaf, #woodstock, #easychair, #titanicsouth, 
#godmancreek, #thelynnboulders, #sullyshangout, #coppercove {
  background-color: var(--lightGreen);
}

#backButton {
  margin-left: 8px;
  margin-top: 8px;
}

#home {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--slate);
  font-size: medium;
  border: none;
  /* margin: 0 100px; */
  position: absolute;
  bottom: 1%;
  right: 43%;
  text-align: center;
}

#signOut {
  padding: 10px;
  border-radius: 8px;
  background-color: var(--slate);
  font-size: medium;
  border: none;
  /* margin: 0 100px; */
  position: absolute;
  margin-top: 5px;
  /* bottom: 1%; */
  right: 2%;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  #home {
    right: 46%;
  }
  
}
